body {
    font-family: 'Libre Bodoni', sans-serif;
    background-color: #333;
    color: #fff;
}

h1, h2 {
    text-align: center;
    color: #DDBB11;
    letter-spacing: 4px;
    font-weight: bold;
}
h1 {
    font-size: 2rem;
}

.container {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 800px;
}
.form-control {
    background-color: #DDBB11;
    color: #000;
}
.col-12{
    display: flex;
    justify-content: center;
}
.form-label {
    color: #fff;
}

.form-check {
    margin-left: 30px;
}

.form-check-input {
    margin-right: 5px;
}
.btn {
    margin-left: 45%;
    color: #fff;
    border: 2px solid #fff;
}
.btn:hover {
    color: #fff;
    border: 3px solid #DDBB11;
    background-color: #DDBB11;
    box-shadow: 0px 0px 6px #DDBB11;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

.fondo1 {
    background-color: green;
    color: white;
}

.fondo2 {
    background-color: red;
    color: white;
}
